<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for c in data %}
    <div class="info">
        <table>
            <tr><th>S. No</th><th>Student Name</th><th>Date</th><th>Status</th></tr>
            <tr><td>{{c.id}}</td><td>{{c.student.studentFullName}}</td><td>{{c.date}}</td><td>{{c.status}}</td></tr>
        </table>
         
     </div>
     
     
 {% endfor %}
 {% for m in messages %}
 <p>{{m}}</p>
 {% endfor %}
</body>
</html>