<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for std in data %}
        <div class="image">
            {% if std.image %}
            <a href="#"><img src="{{std.image.url}}" alt="" height="250px" width="250px"></a>
            {% else %}
            <p>NO iMAGE</p>
            {% endif %}
        
        </div><div class="info">
            <p>{{std.username}}</p>
            <p>{{std.email}}</p>
        </div>
        
        
    {% endfor %}
    {% for m in messages %}
    <p>{{m}}</p>
    {% endfor %}
</body>
</html>