<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr><th>S. No</th><th>Full Name</th><th>username</th><th>Email</th><th>mobile no</th><th>Joining Date</th><th>Batch</th><th>Course</th></tr>
        {% for s in data %}
        <tr><th>{{s.id}}</th><th>{{s.fullname}}</th><th>{{s.username}}</th><th>{{s.email}}</th><th>{{s.contact_num}}</th><th>{{s.joining_date}}</th><th>{{s.batch_details}}</th><th>{{s.course_details}}</th></tr> 
        {% endfor %}
    </table>
    
</body>
</html>