body{
    background: url('../images/5172658.jpg');
}
.std_selfattendancediv{
    position: relative;
    left: 200px;
    overflow: hidden;
}
.year_month_details{
    display: flex;
    justify-content: center;
}
h1{
    position: relative;
    text-align: center;
}
table {
    overflow: hidden;
    right: 300px;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

select {
    margin: 0 10px;
    font-size: 1.5rem;
}
