.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_form{
    border: 2px solid green;
    margin: 50px 100px;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px 0px grey;
}
.login_form p{
    font-size: 1.5rem;
    position: relative;
    left: 20px;
    color: rgb(255, 0, 0);

}
.login_form p a{
    text-decoration: none;
    color: rgb(255, 0, 0);  
    font-weight: 600;
    font-style: oblique;
}
.login_form input{
    height: 50px;
    width: 500px;
    margin-bottom: 30px;
    border-radius: 6px;
    font-size: 1.6rem;
    padding-left: 10px;
}
.login label{
    font-size: 2rem;
    margin-right: 20px;
    padding-right: 20px;
}
.login_form input[type=text]{
    margin-left: 20px;
}
.login_form button, .login_form input[type=submit]{
    height: 50px;
    width: 510px;
    font-size: 1.6rem;
    font-weight: 600;
    background: radial-gradient(green, black);
    border-radius: 12px;
    position: relative;
    left: 15px;
    color: white;

}
.forgot a{
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    color: #0f0d00;
}
.forgot a:hover{
    color: #e0c445;
}