/*
.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
    content: 'Pavan';
    color: black;
}
  */
.site-layout .site-layout-background {
    background: #fff;
}
  
.site-dashboard-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
    border: 2px solid gainsboro;
}
.breadcrum_staff_dashboard{
    margin:  0;
}